# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Binary files
*.elf
*.hex

serial.txt

# VSCode
.vscode/

# CLion
CMakeLists.txt
.idea
avr-libc-*
Digistump*
tiny